<table>
    <tr>
        <th>Enable:</th>
        <td>{{ object.enable }}</td>
    </tr>
    <tr>
        <th>Git repository:</th>
        <td>{{ object.web_address }}</td>
    </tr>
    <tr>
        <th>File:</th>
        <td>{{ object.filename }}</td>
    </tr>
    <tr>
        <th>Type:</th>
        <td>{{ object.get_group_display }}</td>
    </tr>
    <tr>
        <th>Collection(s):</th>
        <td>
            <ul>
                {% for collection in  object.collection.all %}
                <li>
                    {{ collection }}
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>
